'use strict'
const fs = require('fs')
const path = require('path')
const Controller = require('qhkj-framework').Controller

/**
 * @apiDefine {{apiGroupValue}}
 * {{apiGroupLabel}}
 */
class {{controllerClass}} extends Controller {
  constructor(ctx) {
    super(ctx)
  }

  {% for content in list %}
  {{content}}
  {% endfor %}
}

module.exports = {{controllerClass}}