'use strict'

const utils = require('./utils')

/**
 * @apiDefine {{modelName}}RequestEntity {{modelText}}请求实体
{% for name, attrs in fields %}
 * @apiParam { {{attrs.type}} } [{{name}}] (body参数) {{attrs.comment}}
{% endfor -%}
 */

/**
 * @apiDefine {{modelName}}ResponseEntity {{modelText}}响应实体
 * @apiSuccess { INTEGER } rows.id 'id'
{% for name, attrs in fields %}
 * @apiSuccess { {{attrs.type}} } rows.{{name}} {{attrs.comment}}
{% endfor -%}
 */

module.exports = app => {
  const { STRING, INTEGER, DATE, DATEONLY, TEXT, JSON, FLOAT, DOUBLE, BOOLEAN } = app.Sequelize

  const Table = app.model.define('{{modelName}}', {
    id: {
      type: INTEGER,
      primaryKey: true,
      autoIncrement: true,
    },
    {% for name, attrs in fields %}
    {{name}}: {
    {% for key, value in attrs %}
      {{key}}: {{value}},
    {% endfor %}
    },
    {% endfor %}
  }, {
    tableName: '{{tableName}}'
  })
  
  utils.extendModel(Table)
  return Table
}
