  {% set ModelName = model.name | upperFirstLetter %}

  router.get('/api{{apiBase}}/{{model.name}}s', controller.{{controllerClass}}.get{{ModelName}}List)
  router.get('/api{{apiBase}}/{{model.name}}s/:id', controller.{{controllerClass}}.get{{ModelName}}Detail)
  {% if model.creatable %}
  router.post('/api{{apiBase}}/{{model.name}}s', controller.{{controllerClass}}.create{{ModelName}})
  {% endif %}
  {% if model.editable %}
  router.put('/api{{apiBase}}/{{model.name}}s/:id', controller.{{controllerClass}}.modify{{ModelName}})
  {% endif %}
  {% if model.deletable %}
  router.delete('/api{{apiBase}}/{{model.name}}s/:id', controller.{{controllerClass}}.delete{{ModelName}})
  {% endif %}