import request from '@/utils/request';

{% set ModelName = model.name | upperFirstLetter %}
export async function get{{ModelName}}List(params) {
  return request(`/api{{apiBase}}/{{model.name}}s`, {
    method: 'get',
    params: params,
  });
}

export async function get{{ModelName}}Detail(id, params) {
  return request(`/api{{apiBase}}/{{model.name}}s/${id}`, {
    method: 'get',
    params: params,
  });
}

{% if model.creatable %}
export async function create{{ModelName}}(params) {
  return request(`/api{{apiBase}}/{{model.name}}s`, {
    method: 'post',
    data: params,
  });
}
{% endif %}

{% if model.editable %}
export async function modify{{ModelName}}(id, params) {
  return request(`/api{{apiBase}}/{{model.name}}s/${id}`, {
    method: 'put',
    data: params,
  });
}
{% endif %}

{% if model.deletable %}
export async function delete{{ModelName}}(id) {
  return request(`/api{{apiBase}}/{{model.name}}s/${id}`, {
    method: 'delete',
  });
}
{% endif %}