{%- set getMethodList = 'get' + modelName | upperFirstLetter + 'List' -%}
{%- set namespace = modelName + 'List' -%}
{%- set createMethod = 'create' + modelName | upperFirstLetter -%}
{%- set deleteMethod = 'delete' + modelName | upperFirstLetter -%}
{%- set modifyMethod = 'modify' + modelName | upperFirstLetter -%}
import { 
  {{getMethodList}}, 
  {%- if creatable %}{{createMethod}}, {% endif %}
  {%- if deletable %}{{deleteMethod}}, {% endif %}
  {%- if editable %}{{modifyMethod}}, {% endif %}
}  from '@/services/api/{{apiModule}}'
import { extendServerList } from '@/utils/extendListModel'
import _ from 'lodash'

const baseModel = extendServerList({
  namespace: '{{namespace}}',
  getListMethod: {{getMethodList}},
  {% if creatable -%}createMethod: {{createMethod}},{%- endif %}
  {% if deletable -%}deleteMethod: {{deleteMethod}},{%- endif %}
  {% if editable -%}modifyMethod: {{modifyMethod}},{%- endif %}
})

const Model = {}
export default _.merge(baseModel, Model)